h1,
h2,
h3,
h4,
p,
li,
.main-head,
.sub-head {
  word-spacing: 2px;
}
.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4 {
  font-family: "avenir-heavy";
}
.rtl p {
  font-family: "avenir-book";
}
@font-face {
  font-family: "avenir-book";
  src: url("../../assets/fonts/Avenir\ Book.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "avenir-medium";
  src: url("../../assets/fonts/avenir-mediumNova-Bold.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "avenir-book";
  src: url("../../assets/fonts/Avenir\ Book.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "avenir-regular";
  src: url("../../assets/fonts/Avenir\ Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "avenir-heavy";
  src: url("../../assets/fonts/Avenir\ Heavy.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "avenir-medium";
  src: url("../../assets/fonts/Avenir\ Medium.ttf");
  font-weight: normal;
}
body.rtl {
  direction: rtl;
  text-align: right;
  font-family: "avenir-regular";
}
header .right .lists .enquiry {
  margin-right: unset;
  margin-left: 10px;
}
.rtl .top-header a {
  direction: rtl;
}
.rtl #spotlight .container .contents h1 {
  font-family: "avenir-heavy";
}
.rtl #spotlight .container .contents h3 {
  font-family: "avenir-book";
}
.rtl #product .top h4 {
  font-family: "avenir-heavy";
}
.rtl #product .top p {
  color: #000;
  font-size: 20px;
  margin-top: 5px;
  font-family: "avenir-book";
}

.rtl #why-choose .container .box-container .box h3 {
  text-align: right;
}
.rtl #why-choose .container .box-container .box p {
  text-align: right;
}
.rtl footer .container .right .section form .input-container {
  padding-right: unset;
  padding-left: 20px;
}
.rtl #product .container .card .bottom .left h6 {
  text-align: right;
}
.rtl #product .container .card .bottom .left p {
  text-align: right;
  font-family: "avenir-book";
}
.rtl #offers .container .contents h3 {
  font-family: "avenir-heavy";
}
.rtl #offers .container .contents button {
  font-family: "avenir-book";
}
.rtl header .right .lists .language {
  min-width: 100px;
}
/* .rtl #offers .container .contents h3 {
  width: 45%;
} */
@media screen and (max-width: 430px) {
  #product .container .card .img {
    width: 100%;
  }
}
