@font-face {
  font-family: "nexa-light";
  src: url("../fonts/Nexa-ExtraLight.ttf");
  font-weight: normal;
}
#service .container .box {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-top: none;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 0;
}
#service .container .box:nth-child(1) {
  margin: 0;
}
#service .container .box:nth-child(even) {
  flex-direction: row-reverse;
}
#service .container .box:hover img {
  transform: unset;
}
#service .container .box-container {
  padding: 40px;
  background-color: #ffeadd;
  border-radius: 10px;
}
#service .container .box p {
  width: 100%;
}
#service .box .left .img-container {
  height: 250px;
  width: 400px;
}
#service .box .right {
  display: grid;
  justify-items: start;
  row-gap: 20px;
}

#service .box .right button {
  justify-self: end;
  display: flex;
  background-color: #f37124;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  font-family: "nexa-light";
  font-size: 18px;
}
#service .box .right button img {
  height: 12px;
  width: 12px;
  filter: invert(100%);
}

@media screen and (max-width: 980px) {
  #service .box .right h3 {
    font-size: 30px;
  }
  #service .box .right p {
    font-size: 15px;
  }
  #service .box .right button {
    font-size: 16px;
  }
  #service .box .left .img-container {
    width: 300px;
  }
}
@media screen and (max-width: 840px) {
  #service .container .box {
    display: grid;
    justify-items: center;
  }
}
@media screen and (max-width: 540px) {
  #service .container h2 {
    font-size: 25px;
  }
  #service .container .subhead {
    font-size: 16px;
  }
  #service .box .left .img-container {
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 430px) {
  #service .container .box-container {
    padding: 20px;
  }
  #service .container .box {
    padding: 10px;
  }
}
